@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"IBM Plex Sans", sans-serif;;
}
.container {
  width: 100%;
  height: 100vh;
  font-family: "IBM Plex Sans", sans-serif;
}
/* whakee's stylesheet starts here */
/* mini-wrapper */
.mini-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 2rem;
  padding-left: 8rem;
  padding-right: 10rem;
  align-items: center;
}
.mini-wrapper-text {
  width: 50%;
}
.mini-wrapper p {
  padding-top: 1rem;
  line-height: 1.5;
  font-size: 18px;
}
.mini-wrapper-image{
  width: 50%;
}
.mini-wrapper-image img{
  width: 100%;
  height: 100%;
}
/* media queries */
@media (max-width: 900px){
  .mini-wrapper{
    padding: 0 0 16px 16px;
    margin-top: 51rem;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    /* height: 900px; */
  }
  .mini-wrapper-text{
    width: 100%;
  }
  .mini-wrapper-image{
    width: 100%;
  }
  .mini-wrapper h1{
    font-size: 2rem;
  }
}
.fourth-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 2rem;
  padding-left: 8rem;
  padding-right: 10rem;
  align-items: center;
}
.fourth-main-text {
  width: 50%;
}
.fourth-main-image {
  width: 50%;
}
.fourth-main img {
  width: 100%;
  height: 100%;
}
.fourth-main h1 {
  font-size: 40px;
  font-weight: 700;
}
.fourth-main p {
  padding-top: 1rem;
  line-height: 1.5;
  font-size: 20px;
  padding-right: 4rem;
}
/* media queries */
@media (max-width: 900px){
  .fourth-main{
    padding:10px 0 16px 16px;
    display: flex;
    flex-direction: column;
    text-align: center; 
  }
  .fourth-main-image{
    width: 100%;
  }
  .fourth-main h1{
    font-size: 2rem;
  }
  .fourth-main-text{
    width: 100%;
  }
  .fourth-main p{
    padding: 16px 0 16px 16px;
  }
}
.fifth-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 2rem;
  padding-left: 8rem;
  padding-right: 10rem;
  align-items: center;
}
.fifth-main-text {
  width: 50%;
}
.fifth-main-image {
  width: 50%;
}
.fifth-main img {
  width: 100%;
  height: 100%;
}
.fifth-main h1 {
  font-size: 40px;
  font-weight: 700;
}
.fifth-main p {
  padding-top: 1rem;
  line-height: 1.5;
  font-size: 20px;
}
/* media queries */
@media (max-width: 900px){
  .fifth-main{
    padding: 10px 0 16px 16px;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    /* height: 900px; */
  }
  .fifth-main-image{
    width: 100%;
  }
  .fifth-main-text{
    width: 100%;
  }
  .fifth-main h1{
    font-size: 2rem;
    font-weight: 700;
  }
}
/* sixth main */
.sixth-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 2rem;
  padding-left: 8rem;
  padding-right: 10rem;
  align-items: center;
}
.sixth-main-text {
  width: 50%;
}
.sixth-main-image {
  width: 50%;
}
.sixth-main img {
  width: 100%;
  height: 100%;
}
.sixth-main h1 {
  font-size: 40px;
  font-weight: 700;
}
.sixth-main p {
  padding-top: 1rem;
  line-height: 1.5;
  font-size: 20px;
}
/* media queries */
@media (max-width: 900px){
  .sixth-main{
    padding:10px 0 16px 16px;
    display: flex;
    flex-direction: column;
    text-align: center; 
  }
  .sixth-main-image{
    width: 100%;
  }
  .sixth-main h1{
    font-size: 2rem;
  }
  .sixth-main-text{
    width: 100%;
  }
  .sixth-main p{
    padding: 16px 0 12px 0px;
  }
}
/* whakees stylesheet end here */

/* Aniekans Stylesheet Starts Here */
.fifthportion{
    text-align: center;
    font-size: 30px;
}
.fifthportion p{
    font-size: 25px;
}

.imageportion{
    margin-top: 5rem;
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
}
@media (max-width:900px) {
  .imageportion{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}
}
.firstimage p {
    font-size: 22px;
    font-weight: 700;
}

.secondimage p {
    font-size: 22px;
    font-weight: 700;
}

.thirdimage p {
    font-size: 22px;
    font-weight: 700;
}
img{
    width: 300px;
    height: 200px;
    margin-top: 1rem;
}
.fifthportion button{
    margin-top: 4rem;
    color: white;
    background-color: #0b65c6;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
}
/* Aniekans Style Sheet ends Here */