@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
    ;
}

.container {
    width: 100%;
    height: 100vh;
    font-family: "IBM Plex Sans", sans-serif;
}

/* Navbar Starts Here */
.navbar {
    background-color: #0b65c6;
    color: #fff;
    overflow: hidden;
}

.navbar a {
    margin-right: 40px;
    float: right;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #004AA7;
}

.navbar-logo {
    float: left;
    padding: 10px;
}

.navbar-logo  {
   
    margin-left: 20px;
    color: #0b65c6;
    height: 50px;
    background-color: white;
    width: 50px;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
}

.nav{
    display: flex;
    margin-top: 20px;
}
/* Navbar Ends Here */
/* whakee's stylesheet starts here */
.fifth-main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 2rem;
    padding-left: 8rem;
    padding-right: 10rem;
    align-items: center;
}

.fifth-main-text {
    width: 50%;
}

.fifth-main-image {
    width: 50%;
}

.fifth-main img {
    width: 100%;
    height: 100%;
}

.fifth-main h1 {
    font-size: 40px;
    font-weight: 700;
}

.fifth-main p {
    padding-top: 1rem;
    line-height: 1.5;
    font-size: 20px;
}

/* media queries */
@media (max-width: 900px) {
    .fifth-main {
        padding: 10px 0 16px 16px;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        /* height: 900px; */
    }

    .fifth-main-image {
        width: 100%;
    }

    .fifth-main-text {
        width: 100%;
    }

    .fifth-main h1 {
        font-size: 2rem;
        font-weight: 700;
    }
}

/* sixth main */
.sixth-main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 2rem;
    padding-left: 8rem;
    padding-right: 10rem;
    align-items: center;
}

.sixth-main-text {
    width: 50%;
}

.sixth-main-image {
    width: 50%;
}

.sixth-main img {
    width: 100%;
    height: 100%;
}

.sixth-main h1 {
    font-size: 40px;
    font-weight: 700;
}

.sixth-main p {
    padding-top: 1rem;
    line-height: 1.5;
    font-size: 20px;
}

/* media queries */
@media (max-width: 900px) {
    .sixth-main {
        padding: 10px 0 16px 16px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .sixth-main-image {
        width: 100%;
    }

    .sixth-main h1 {
        font-size: 2rem;
    }

    .sixth-main-text {
        width: 100%;
    }

    .sixth-main p {
        padding: 16px 0 12px 0px;
    }
}

/* whakees stylesheet end here */

/* Aniekans Stylesheet Starts Here */
.fifthportion {
    text-align: center;
    font-size: 30px;
}

.fifthportion p {
    font-size: 25px;
}

.imageportion {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}

.firstimage p {
    font-size: 22px;
    font-weight: 700;
}

.secondimage p {
    font-size: 22px;
    font-weight: 700;
}

.thirdimage p {
    font-size: 22px;
    font-weight: 700;
}

img {
    width: 300px;
    height: 200px;
}

.fifthportion button {
    margin-top: 4rem;
    color: white;
    background-color: #0b65c6;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
}

/* Aniekans Style Sheet ends Here */